.home{
    height: calc(100vh - 50px); 
    display: grid;
    grid-template-columns: 1fr 6% 1fr 6% 1fr;
}

.home{
    .column-2-home{
        display: grid;
        grid-template-rows: 1fr 1fr;
        

    }

}