@use '../../App' as *;

.notification-list-container{
    height: calc(100vh - 50px); 
}
.notification-list {
    height: calc(100vh - 50px); 
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
    place-content:start;
    gap: 15px;
    overflow:auto;
    scrollbar-gutter: stable both-edges;
}

.no-notifications{
    img{
        height: 150px;
    }

}