* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
:root {
	--dark: #343a40;
	--white: #FFFFFF;
	--black: #000000;
	--green: #70AD47;
	--yellow: #FFC000;
	--blue: #4472C4;
	--darkblue: #0c3b8d;
    --grey: #848484;
	--dark-grey: #606060;
	--orange: #DE714C;
	--orange-olenergies: #EA7344;
	--xs: 13.5px;
	--sm: 15px;
	--md: 20px;
	--lg: 30px;
	--xl: 40px;
	--xxl: 50px;
	--bold: 800;
}
body {
	margin: 0;
}



@media (max-width: 1200px) {
  html {
      cursor: none; 
  }
}
